* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#con {
  display: flex;
}

#con .child {
   border: 3px solid black;
}

#con :nth-child(1) {
    width: 70px;
    height: 110px;
    background-color: red;

}

#con :nth-child(2) {
    width: 70px;
    height: 110px;
    position: absolute;
    margin-top: 110px;
}

#con :nth-child(3) {
    width: 140px;
    height: 70px;
    background-color: aqua;
}

#con :nth-child(4) {
    width: 190px;
    height: 70px;
    background-color: goldenrod;
}

#con :nth-child(5) {
    width: 80px;
    height: 80px;
    background-color: goldenrod;
    position: absolute;
    margin-top: 70px;
    margin-left: 70px;
}

#con :nth-child(6) {
    width: 180px;
    height: 80px;
    position: absolute;
    margin-top: 70px;
    margin-left: 150px;
}

#con :nth-child(7) {
    width: 70px;
    height: 150px;
    background-color: red;
    position: absolute;
    margin-top: 70px;
    margin-left: 330px;

}

#con :nth-child(8) {
    width: 170px;
    height: 70px;
    background-color: red;
    position: absolute;
    margin-top: 150px;
    margin-left: 70px;
}

#con :nth-child(9) {
    width: 90px;
    height: 70px;
    background-color: aqua;
    position: absolute;
    margin-top: 150px;
    margin-left: 240px;

}